.body{
    margin:5%;
    padding:5%;
    background: #00171F;
}
.navtag{
    margin:5%;
    min-height: 50%;
    display: block;
    background-color: #00171F;
    background-image: url("Images/LogoHeader.png");
    background-size: contain;
    background-repeat: no-repeat;
}

body{
    background-image:url("Images/40db8452.png");
    font-family: 'Roboto', sans-serif;
}

h2{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}
p{
    color: white;
}

.navtag nav{
    text-align: right;
}
.navtag ul{
    list-style-type: none;
    margin: 0;
}
.navtag li{
    display:inline-flex;
}
.navtag li a{
    display:inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 24px;
}
.navtag li a:hover{
    background-color: #00A7E1;    
}

.projects{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.projects ul{
    list-style-type: none;
}

.projects li{
    padding: 5px;
    display: inline-flex;
    position:relative;
}
.projects a{
    max-height: 204px;
    max-width: 363px;
}