.body{
    margin:5%;
    padding:5%;
    background: #00171F;
    border: 5px solid #00171F;
    border-radius: 10px;
    box-shadow: 10px 5px 5px white;
    padding-bottom:7%;
}
.body a:link {
    color: white;
    text-decoration: none;
}
  
.body a:visited {
    text-decoration: none;
    color: white;
 }
.navtag{

    min-height: 50%;
    display: block;
    background-color: #00171F;
    background-image: url("Images/LogoHeader.png");
    background-size: contain;
    background-repeat: no-repeat;
    border: 5px solid #00171F;
    border-radius: 10px;
}

body{
    background-image:url("Images/40db8452.png");
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3{
    text-align: center;
    color: white;
}
p{
    color: white;
}

.navtag nav{
    text-align: right;
}
.navtag ul{
    list-style-type: none;
    margin: 0;
}
.navtag li{
    display:inline-flex;
}
.navtag li a{
    display:inline-block;
    position: relative;
    text-decoration: none;
    color: white;
    padding: 24px;
}
.navtag li a:hover{
    background-color: #00A7E1;    
}

.projects{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-justify:auto;
}

.projects ul{
    list-style-type: none;
}

.projects li{
    padding: 5px;
    display: block;
    position:relative;
}
.projects a{
    max-height: 204px;
    max-width: 363px;
}
.projects img{
    padding-right: 10px;
    width: 363px; 
    height: 204px;
    float:left;
}

.projects h3{
    text-align:unset;
}
.projects h4{
    color:white;
}
.projectText{
    margin: left 10%;
}

.IntroPara{
    justify-items: auto;
    text-align: left;
    font-size: 1.4em;
}
.CurrentEvent{
    justify-items: auto;
    font-size: 1.4em;
    text-align: right;
}
.icon{
    display:none;
}
#phoneNum-Mobile{
    display:none;
}

.bioPic{
    display:block; 
    width:25%; 
    height:25%; 
    float:right; 
    border-style:solid;
    border-width: 5px;
    border-radius: 30px;
    border-color: #00A7E1;
}

.bioPara{
    padding-right:20px; 
    text-align:left; 
    text-justify: auto;
}

.MobileLink{
    display:none;
}
.ResumeInline{
    margin: 0 auto; 
    display:block;
}
.HSProject1{
    width:363px; 
    height:204px;
}
.HSProject2{
    width:363px; 
    height:204px;
}
.CollegeProj{
    width:363px; 
    height:204px;
}
#MobileHomeLinks{
    display:none;
}
#NonMobileHomeLinks{
    display:block;
}

@media only screen and (max-width: 979px){
    .navtag{
        background-image: url("Images/LogoSansText.png");
        background-size:12%;
    }
}

@media only screen and (max-width: 768px) {
    .navtag{
        display:none;
        max-width:fit-content;
        background-image: none;
        position:fixed;
        width:100%;
        height:100%;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index: 2;
        
    }
    .navtag #navlinks{
        display:none;
    }
    .navtag a {
        color: #00171F;
        display: block;
    }
    .navtag nav{
        text-align: center;
    }
    .navtag li a{
        display:block;
        text-decoration: none;
        color: white;
        padding: 46px;
        width:50%;
    }
    .icon{
        display:block;
        position:absolute;
        text-decoration: none;
        margin:auto;
        width:50%;
        height: 90%;
    }
    .IntroPara{
        justify-items: auto;
        text-align: center;
    }
    .CurrentEvent{
        justify-items: auto;
        text-align: center;
    }
    .projects img{
        padding-right: 10px;
        float:none;
    }
    .HSProject1{
        display:none;
    }
    .HSProject2{
        display:none;
    }
    .CollegeProj{
        display:none;
    }
    #phoneNum-Mobile{
        display:block;
    }
    #phoneNum-Desktop{
        display:none;
    }
    .MobileLink{
        display:block;
    }
    .MobileLink a:hover{
        color: #00A7E1;    
    }
      
     .body a:hover {
        text-decoration: underline;
    }
      
    .body a:active {
        text-decoration: underline;
    }
    .ResumeInline{
        position: absolute; 
        width:0; 
        height:0; 
        border:0;
    }
    .gg-notes{
        vertical-align: center;
    }
    #MobileHomeLinks{
        display:block;
        background-color: #003459;
        padding: 10px;
    }
    #NonMobileHomeLinks{
        display:none;
    }
}
@media only screen and (max-width: 1024px) {
    .projects img{
        padding-right: 10px;
        width: 273px; 
        height: 153px;
        float:none;
    }
    .HSProject1{
        content:url("Images/webpageshots/GrizTrendIconMobile.png");
        width: 177px; 
        height: 144px;
    }
    .HSProject2{
        content:url("Images/webpageshots/CommunityCultivationCenterIconMobile.png");
        width:auto; 
        height:auto;
    }
    .CollegeProj{
        content:url("Images/webpageshots/LemonadeStandIconMobile.png");
        width: 165px; 
        height: 151px;
    }
    .MobileLink{
        display:block;
    }
    .ResumeInline{
        position: absolute; 
        width:0; 
        height:0; 
        border:0;
    }
}
.gg-menu{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.gg-close-o{
    margin-left: 10px;
    margin-top: 20px;
}
.ContactTableContent{
    background-color: #007EA7;
}
.ContactTableDesc{
    background-color: #003459;
}
